<div>
  <h1 class="font-bold text-4xl">Genai#click</h1>
  <p>Find me in app/views/genai/click.html.erb</p>

<h2>Lets see some vars..</h2>

<p> @sobenme  = <b><%=  @sobenme %></b></p>
<p> @answer  = <b><%=  @answer %></b></p>

<%= render 'click_addon' %>


</div>
