<div>
  <h1 class="font-bold text-4xl">Genai#slow</h1>

  <p>Find me in app/views/genai/slow.html.erb This is Seby</p>

  <%= image_tag 'sebastian.jpeg' , height: 200 %>
  <p>
    @answer = <%= @answer %>
  </p>

</div>
