
<br/>
<footer class="h-10 bottom-0 bg-gray-800">
    <br/>
    <hr/>
    <p>
        Welcome to APPNAME vVERSION <br/>
        Riccardo CArlesso some rights reserved.

    </p>
    <div>Same but in div</div>

</footer>
